include "conf/environment.kdl"
include "conf/autostart.kdl"
include "conf/keybinding.kdl"
include "conf/rules.kdl"

// Input device configuration.
input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
        }
        numlock
    }
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }
    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }
    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
output "DP-1" {
    // off
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
    position x=0 y=0
}

// Settings that influence how windows are positioned and sized.
layout {
    // Set gaps around windows in logical pixels.
    gaps 16

    // When to center a column when changing focus, options are:
    // "never", "always", "on-overflow".
    center-focused-column "on-overflow"
    always-center-single-column

    // You can customize the widths that "switch-preset-column-width" (Mod+W) toggles between.
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }
    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.75; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // You can change how the focus ring looks.
    focus-ring {
        // off
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    // You can enable drop shadows for windows.
    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// Animation settings.
animations {
    // off
    // slowdown 3.0
}

