# -----------------------------------------------------
[[mgr.prepend_keymap]]
on   = [ "!" ]
run  = "shell '$SHELL' --block"
desc = "open shell here"


# -----------------------------------------------------
# plugin - yazi-rs/plugins:smart-enter
[[mgr.prepend_keymap]]
on   = [ "l" ]
run  = "plugin smart-enter"
desc = "enter the child directory, or open the file"

[[mgr.prepend_keymap]]
on   = [ "<right>" ]
run  = "plugin smart-enter"
desc = "enter the child directory, or open the file"


# -----------------------------------------------------
# plugin - grappas/wl-clipboard
[[mgr.prepend_keymap]]
on = [ "Y" ]
run = "plugin wl-clipboard"
#run = [ 'shell -- for path in "$@"; do printf "file://$path"; done | wl-copy -t text/uri-list', "yank" ]
desc = "copy to the system clipboard (for wayland)"


# -----------------------------------------------------
# plugin - yazi-rs/plugins:mount
[[mgr.prepend_keymap]]
on  = [ "M", "P" ]
run = "plugin mount"
desc = "Partition Manager: [m]ount [u]mount [e]ject [q]uit"


# -----------------------------------------------------
# plugin - mtp
[[mgr.prepend_keymap]]
on   = [ "M", "M" ]
run  = "plugin mtp"
desc = "MTP Devices Manager: [m]ount [u]mount [q]uit"


# -----------------------------------------------------
# plugin - yazi-rs/plugins:chmod
[[mgr.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "chmod on selected files"


# -----------------------------------------------------
# plugin - kkv9/compress
[[mgr.prepend_keymap]]
on   = [ "C", "a", "a" ]
run  = "plugin compress"
desc = "archive selected files"

[[mgr.prepend_keymap]]
on   = [ "C", "a", "p" ]
run  = "plugin compress -p"
desc = "archive selected files (password)"

[[mgr.prepend_keymap]]
on   = [ "C", "a", "h" ]
run  = "plugin compress -ph"
desc = "archive selected files (password+header)"

[[mgr.prepend_keymap]]
on   = [ "C", "a", "l" ]
run  = "plugin compress -l"
desc = "archive selected files (compression level)"

[[mgr.prepend_keymap]]
on   = [ "C", "a", "u" ]
run  = "plugin compress -phl"
desc = "archive selected files (password+header+level)"


# -----------------------------------------------------
# plugin - ndtoan96/ouch
[[mgr.prepend_keymap]]
on = [ "C", "C" ]
run = "plugin ouch"
desc = "compress with ouch"


