// Update D-Bus and systemd user environments
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "LANG"

// Start user systemd services
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "systemctl" "--user" "start" "mpd"

// Other applications
spawn-at-startup "swaybg" "-i" "/home/elysia/Pictures/wall.png" "-m" "fill"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "fcitx5"
spawn-at-startup "waybar"

