environment {
	// locale
	LANG "zh_CN.UTF-8"

	// Terminal & Editor
	TERM "foot"
	TERMINAL "foot"
	EDITOR "nvim"
	
	// fcitx5
	GTK_IM_MODULE "fcitx"
	QT_IM_MODULE "fcitx"
	XMODIFIERS "@im,fcitx"
	SDL_IM_MODULE "fcitx"
}
